# ==========================
# Environment
# ==========================
ENVIRONMENT=DEV
PORT_WEB=8888
SITE_URL=http://localhost:8888/

# ==========================
# Redis
# ==========================
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=admin